planAhead_run_4/
planAhead_run_3/
planAhead_run_2/
planAhead_run_1/
isim/
ipcore_dir/
iseconfig/
_xmsgs/
xst/work/work.vdbx
xst/work/work.vdbl
xlnx_auto_0_xdb/cst.xbcd
xilinxsim.ini
webtalk_pn.xml
_ngo/netlist.lst
*.xst
*.stx
*.spl
*.lso
*.prj
*.cmd_log
VGA.vhd
*.html
*.debug
sch2HdlBatchFile
*.tcl
*.cmd
*.xrpt
*.xml
*.txt
*.wdb
*.gise
ddr2Ram.sym
*.xmsgs
gesamt.ngr
*.sym
*.DS_Store
*.xise
*.bgn
*.bld
*.drc
*.jhd
*.ncd
*.ngc
*.ngd
*.pad
*.pad
*.par
*.pcf
*.ptwx
*.schbak
*.schlog
*.sym
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.vhf
*.vhi
*.xpi
*.xsvf
*.xwbt
*.vhf
*.ncd
*.map
*.mrp
*.ngm
*.csv
